<a href="https://colab.research.google.com/github/amornvitz/HCIA-AI/blob/main/HCIA_AI_Day1_Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Introduction to Numbers**
we can practise the common features of Python Data types, Variables, list, tuples etc

In [2]:
print('Welcome to Python 3')
x="Welcome to HCIA AI Intro course"
print(x)

Welcome to Python 3
Welcome to HCIA AI Intro course

In [3]:
# test arithmetric operations
# Define variables - a,b,c
a = 100
b = 50
c = 20

print(a*b*c)
print(a*3/(b))
print(int(a*3/(b)))

100000
6.0
6

In [5]:
# test List, Tuple, Set
y=["Ascend","Atlas","Mindspore","ModelArts"]
print(y)
print(type(y))
z=('Ascend','Atlas','Mindspore','ModelArts')
print(z)
print(type(z))
w={"Processor":"Ascend","Framework":"Mindspore"}
print(w)
print(type(w))
u={"Ascend","Atlas","Mindspore","ModelArts"}
print(u)
print(type(u))

['Ascend', 'Atlas', 'Mindspore', 'ModelArts']
<class 'list'>
('Ascend', 'Atlas', 'Mindspore', 'ModelArts')
<class 'tuple'>
{'Processor': 'Ascend', 'Framework': 'Mindspore'}
<class 'dict'>
{'Mindspore', 'Ascend', 'ModelArts', 'Atlas'}
<class 'set'>

# Difference between Set, Tuple, List and Dictionary
List - ordered and changeable, duplicate items allowed
Tuple - ordered and unchangeable, duplicate items allowed
Set - unordered and unchangeable, no duplicate item
Dictionary - unordered, changeable and no duplicate items

In [6]:
# List class
mylist=["Ascend","Mindspore","Atlas","ModelArts","Atlas","Ascend"]
print(mylist)
print(mylist[0])
print(mylist[3])
print(mylist[-1])
print(mylist[1:3])
print(mylist[0:3])
print(mylist[0:4])
print(mylist[1:])
print(mylist[:2])
print(mylist[-3:-1])

['Ascend', 'Mindspore', 'Atlas', 'ModelArts', 'Atlas', 'Ascend']
Ascend
ModelArts
Ascend
['Mindspore', 'Atlas']
['Ascend', 'Mindspore', 'Atlas']
['Ascend', 'Mindspore', 'Atlas', 'ModelArts']
['Mindspore', 'Atlas', 'ModelArts', 'Atlas', 'Ascend']
['Ascend', 'Mindspore']
['ModelArts', 'Atlas']

In [7]:
# Tuple class
mytuple=("Ascend","Mindspore","ModelArts","Atlas","Ascend")
print(mytuple)
print(mytuple[0])
print(mytuple[3])
print(mytuple[-1])
print(mytuple[1:3])
print(mytuple[0:3])
print(mytuple[0:4])
print(mytuple[1:])
print(mytuple[:2])

('Ascend', 'Mindspore', 'ModelArts', 'Atlas', 'Ascend')
Ascend
Atlas
Ascend
('Mindspore', 'ModelArts')
('Ascend', 'Mindspore', 'ModelArts')
('Ascend', 'Mindspore', 'ModelArts', 'Atlas')
('Mindspore', 'ModelArts', 'Atlas', 'Ascend')
('Ascend', 'Mindspore')

# Python Array
Array - special variable which can hold more than one value at a time

In [8]:
cars=["Honda","Toyota","Merz","BMW","Hyundai","Ford","Ferrari"]
print(cars)
ai1="Tensorflow"
ai2="Pytorch"
ai3="Mindspore"
ai4="Caffe"
c=cars[0:2]
c1=len(cars)
print(c)
print(ai2)
print(c1)
# y is to define the list of items in vertical
for y in cars:
  print(y)
cars.append("Mitsubishi")
cars.append("Honda")
c1=len(cars)
print(c1)
print(cars)
cars.pop(8)
cars.remove("Ferrari")
print(cars)
cars.insert(0,"Honda")
cars.insert(1,"Honda")
z=cars.count("Honda")
print(z)
print(cars)

['Honda', 'Toyota', 'Merz', 'BMW', 'Hyundai', 'Ford', 'Ferrari']
['Honda', 'Toyota']
Pytorch
7
Honda
Toyota
Merz
BMW
Hyundai
Ford
Ferrari
9
['Honda', 'Toyota', 'Merz', 'BMW', 'Hyundai', 'Ford', 'Ferrari', 'Mitsubishi', 'Honda']
['Honda', 'Toyota', 'Merz', 'BMW', 'Hyundai', 'Ford', 'Mitsubishi']
3
['Honda', 'Honda', 'Honda', 'Toyota', 'Merz', 'BMW', 'Hyundai', 'Ford', 'Mitsubishi']

In [9]:
# Python Numbers
x=100
y=47298340209400308403.3902
z=-88888888888888888888888888888888888
w=10j
print(x)
print(type(x))
print(y)
print(type(y))
print(z)
print(type(z))
print(w)
print(type(w))

100
<class 'int'>
4.729834020940031e+19
<class 'float'>
-88888888888888888888888888888888888
<class 'int'>
10j
<class 'complex'>

In [10]:
# Python Number Conversion
x=100
y=800000000000000000000.1752848493
z=-88888888888888888888888888888888888
w=10j
x1=float(x)
y1=int(y)
z1=complex(z)
print(x1)
print(y1)
print(z1)
print(w)

100.0
800000000000000000000
(-8.888888888888888e+34+0j)
10j

In [11]:
# Random Number ; the value range will be picked randomly without any sequence in order
import random
print(random.randrange(1,5))
print(random.randrange(10,100))

2
30

In [12]:
# Python Math function
# Some math functions need Math module, import the Math
import math
x=min(100,200,300)
y=max(100,200,300)
z=max(-10,-20,-30)
print(x)
print(y)
print(z)
a=10
b=5
c=2
print(pow(a,b))
x1=math.sqrt(10000)
x2=math.ceil(1.8)
x3=math.floor(1.8)
print(int(x1))
print(x2)
print(x3)

100
300
-10
100000
100
2
1